html {
  height: webkit-fill-available;
}
body {
  font-family: "Merriweather", serif;
}

body::after {
  content: "";
  display: block;
  height: 50px; /* Set same as footer's height */
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

.mainRoute {
  min-height: webkit-fill-available;
  min-height: 100%;
  height: 100vh;
  overflow: auto;
  margin-bottom: -50px;
  padding-bottom: 100px;
}

.mainRoute .title {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #a7733f;
  font-size: 2em;
  font-weight: 600;
}

.home {
  background-image: url("./images/paper_red.jpg");
  color: white;
  text-align: center;
}

.fabLogoContainer {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}

.fabstyle {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #a7733f;
  color: #801710;
  font-family: "Staatliches", cursive;
  font-size: 4em;
}

.fabAndStyle {
  font-size: 2.5em;
  margin-bottom: -18px;
  margin-top: -18px;
  color: #a7733f;
  font-family: "Staatliches", cursive;
}

.fabLogo {
  width: 75vw;
}

.section {
  background-image: url("./images/paper.jpg");
}

.sectionsContainer {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-left: 5vw;
}

.sectionName {
  font-size: 1.1em;
  font-weight: 600;
}

.subsectionsContainer {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 7px;
  margin-bottom: 10px;
  border-bottom: 1px solid #a7733f;
  padding-bottom: 10px;
  width: 86vw;
}

.subsectionName {
  margin-top: 5px;
  padding-top: 10px;
  margin-bottom: 5px;
  margin-left: 7vw;
  border-top: 1px solid #a7733f;
  position: relative;
}

.actualSubsectionName {
  display: inline-block;
  width: calc(86vw - 55px);
}

.navigateArrow {
  display: inline;
  position: absolute;
  right: 0vw;
  font-size: 1.4em;
  color: #a7733f;
}

.infraction {
  background-image: url("./images/paper.jpg");
}

.infractionContentContainer {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.backArrowContainer {
  margin-left: 20px;
  margin-top: 10px;
  color: #a7733f;
}

.backArrow {
  margin-right: 10px;
  font-size: 1.6em;
}

.bold {
  font-weight: 600;
}

.list {
  margin-left: 10px;
}

.list:before {
  content: "- ";
}

.sublist {
  margin-left: 20px;
}

.sublist:before {
  content: "-- ";
}

a.highlightedLink,
a.highlightedLink:visited,
a.highlightedLink:active {
  text-decoration: underline;
  font-weight: 600;
}

.example {
  padding-left: 20px;
  font-style: italic;
}

.reference {
  background-image: url("./images/paper.jpg");
}

.penaltyCodeReference {
  font-style: italic;
}

.quickReferenceContainer {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.quickReferenceSection {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #a7733f;
}

.quickReferenceTitle {
  font-size: 1.2em;
  font-weight: 600;
  color: #a7733f;
  margin-bottom: 10px;
}

.quickReferenceInfraction {
  margin-bottom: 20px;
}

.quickReferenceInfractionName {
  font-weight: 600;
}

.search {
  background-image: url("./images/paper.jpg");
}

.searchBarContainer {
  width: 100vw;
  text-align: center;
}

.searchBar {
  font-size: 1.2em;
  padding: 4px 10px;
  border-radius: 11px;
  border: 1px solid #a7733f;
}

.searchDocument {
  font-size: 1.2em;
  color: #a7733f;
  margin-left: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about {
  background-image: url("./images/paper.jpg");
}

.aboutContentContainer {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  background-image: url("./images/paper_dark_darker.jpg");
  border-top: 3px solid #a7733f;
  filter: drop-shadow(0px 0px 14px black);
}

.footerElementsContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 95vw;
}

a.footerElement {
  text-align: center;
  margin-top: 5px;
  color: white;
  flex-basis: 20%;
}

a.selectedButton {
  color: #a7733f;
}

.footerElement .icon {
  font-size: 1.2em;
}
.footerElement .label {
  font-size: 0.6em;
}
